@page "/music"

@using Models
@inject Services.MusicService musicService

<h2>Music</h2>
@if (musicList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var music in musicList)
            {
                <tr>
                    <th>@music.name</th>
                    <th>@music.author</th>
                    <th>@music.year</th>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<MusicViewModel> musicList;

    protected override async Task OnInitializedAsync()
    {
        musicList = await musicService.GetAllMusicAsync();
    }
}
