@using Models

<link rel="stylesheet" type="text/css" href="PagesCss/albumCardStyle.css">

<div class="card albumCard">
    <div class="card-img">
        <img src="@album.photoPath"/>
    </div>
    <div class="demo-mat-card-content">
        <div class="authorinfo album-info">
            <span> @album.name</span>
            <span>@album.author</span>
        </div>
        <div class="authorinfo">
            <span>@album.year</span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public AlbumViewModel album { get; set; }
}
