@page "/Albums"
@using BlazorUI.Models
@using BlazorUI.Services.Interfaces

@inject IAlbumService albumService

<h1>Albums</h1>
<div class="albumList">
    @if (albums == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        foreach (var album in albums)
        {
            <AlbumCard album=@album></AlbumCard>
        }
    }
</div>

@code {
    private IEnumerable<AlbumViewModel> albums;

    protected override async Task OnInitializedAsync()
    {
        albums = await albumService.GetAlbumsAsync();
    }
}