<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manager">Hello, @context.User.Identity.Name</a>
        <form action="Account/LogOut" method="post">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login">Log in</a>
        <a href="Account/Register">Register</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
